/* https://css-tricks.com/css-sprites/ */
.player {
  fill: darkmagenta;
}

.bat {
  fill: black;
}

.fireball {
  fill: #ff0000;
}

.tree {
  fill: #33654a;
}

.rock {
  fill: #ccc;
}

.water {
  fill: #005377;
}

#spell-slot {
  color: ivory;
  font-size: 2rem;
  text-align: center;
}
