/* https://css-tricks.com/css-sprites/ */
.player {
  fill: midnightblue;
}

.bat {
  fill: black;
}

.ghost {
  fill: white;
}

.fireball {
  fill: #ff0000;
}

.tree {
  fill: #33654a;
}

.rock {
  fill: #ccc;
}

.water {
  fill: #005377;
}

.wind {
  fill: transparent;
  stroke-width: 0.5px;
  stroke: rgba(0, 0, 0, 0.05);
}

.lightning {
  stroke: gold;
  stroke-width: 0.1px;
  stroke-linecap: round;
}

#spell-progress, #latest-spell {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.2rem 1rem;
  color: ivory;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  border-radius: 2px;
  top: 0;
}

#spell-progress {
  left: 0;
}

#latest-spell {
  right: 0;
}

#compendium-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  color: ivory;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  &:has(.hidden) {
    display: none;
  }
}

#spell-compendium {
  margin: 0 1rem;
  max-width: 550px;
}

.compendium-row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  &:first-child {
    border-bottom: 2px solid white;
    font-size: 1.5rem;
    align-items: end;
  }

  & > span:last-child {
    text-align: right;
  }
}
