:root {
  --one: 2.777vw;
  --two: 5.555vw;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@font-face {
  font-family: "Eagle Lake";
  src: url(/font/EagleLake-Regular.ttf) format("truetype");
}

.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}
