:root {
  --one: 2.777%;
  --two: 5.555%;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

@font-face {
  font-family: "Eagle Lake";
  src: url(/font/EagleLake-Regular.ttf) format("truetype");
}

.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}
