@import "_general.css";

section {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 3px;
}

main {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 1.25rem;
}

#start {
  color: white;
  padding: 0.5rem;
}
