section {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

main {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 1.25rem;
  background-image: url("../media/demo.png");
  background-size: cover;
}

#start {
  color: white;
  padding: 0.5rem;
}
